:root {
    --white: #ffffff;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
}

.header-link,
.mobile-header-link,
.footer-link {
    --_gap: 0.5rem;
    position: relative;
    padding-inline: calc(var(--_gap) / 2);
}

.mobile-header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 1.5px;
    width: 100%;
    background: var(--blue-500);
    scale: 0 1;
    transition: scale 0.5s;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 1.5px;
    width: 100%;
    background: var(--blue-500);
    scale: 0 1;
    transition: scale 250ms;
}

@media screen and (max-width: 768px) {
    .header-logo {
        font-size: 25px;
    }

    .header-link {
        display: none;
    }

    .hero-main-heading {
        font-size: 35px;
    }

    .footer-logo {
        font-size: 25px;
    }

    .section-main-heading:not(.hero-main-heading) {
        /* font-size: 25px; */
        font-size: 27px;
        /* font-size: 30px; */
    }
}

@media screen and (max-width: 700px) {
    .pricing-wrapper-left-side {
        order: 2;
    }

    .pricing-wrapper-right-side {
        order: 1;
    }

    /* .about-text-side {
        order: 2;
    }

    .about-image-side {
        order: 1;
    } */

    .contact-left {
        order: 2;
    }

    .contact-right {
        order: 1;
    }
}

@media screen and (max-width: 568px) {
    .header-logo {
        font-size: 24px;
    }
}

/* @media screen and (max-width: 600px) {
    .footer-links {
        flex-direction: column;
    }
} */

@media (hover: hover) {
    .header-link:hover {
        color: var(--blue-400);
    }

    .header-link:hover::after {
        scale: 1 1;
    }

    .mobile-header-link:hover {
        color: var(--blue-500);
        border-bottom: none;
    }

    .mobile-header-link:hover::after {
        scale: 1 1;
    }

    .mobile-header-cta-link:hover {
        background: var(--blue-700);
        color: var(--white);
    }

    .hero-cta-link:hover {
        background: var(--blue-700);
    }

    .our-car:hover {
        transform: scale(1.02);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

    .filter-tab-btn:hover {
        background: var(--blue-600);
    }

    .our-car-cta-link:hover {
        background: var(--blue-700);
    }

    .experience-main-cta-link:hover {
        background: var(--blue-600);
    }

    .contact-form-cta:hover {
        background: var(--blue-700);
    }

    .footer-link:hover {
        color: var(--white);
    }
}