@media (min-width: 48rem) {
    .side-panel {
        transform: none;
        opacity: 1;
    }

    .about-wrapper {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 46.87rem) {
    .slider-btn {
        top: 52%;
        transform: translateY(52%);
    }
}

/* @media screen and (max-width: 43.75rem) {
    .about-contacts {
        grid-template-columns: 1fr;
    }
} */

@media (max-width: 37.5rem) {
    .hero-main-heading {
        font-size: 2.18rem;
    }

    .slider-btn {
        top: 52%;
        transform: translateY(52%);
    }
}

@media (hover: hover) {
    .header-nav-link:hover {
        color: var(--yellow-400);
    }

    .side-panel-nav-link:hover {
        color: var(--yellow-400);
    }

    .slider-btn:hover {
        opacity: 0.9;
    }

    /* .flat-offer:hover {
        transform: scale(1.03);
    } */

    .flat-offer-main-cta-link:hover {
        text-decoration: underline;
    }
}