:root {
    --black-1: #000000;
    --black-2: #101425;
    --white-1: #ffffff;
    --blue-1: #1d5c89;
    --grey-1: #3a435d;
    --red-1: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    overflow-x: hidden;
}

.brand-header {
    padding: 10px;
    background-color: var(--blue-1);
    color: var(--white-1);
}

.brand-header .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.35;
}

.brand-header .center .brand-name {
    font-size: 32px;
    font-weight: 200;
    border-bottom: 1px dashed var(--black-1);
}

.brand-header .center .brand-profession {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.adress-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    line-height: 1.4;
    margin: 15px 15px 0 0;
}

.adress-section .hours .open {
    color: var(--black-1);
}

.adress-section .hours .hours-closed {
    color: var(--black-1);
}

.main-header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
}

.main-header.fixed-main-header {
    justify-content: end;
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: var(--white-1); */
    box-shadow: none;
    transition: 0.3s ease;
}

.main-header.fixed-main-header .main-header-item {
    display: none;
}

.main-header .items {
    display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-header .items .main-header-item {
    margin-left: 10px;
    list-style-position: inside;
}

.main-header .items .main-header-link {
    text-decoration: none;
    color: var(--black-1);
    text-transform: uppercase;
}

.main-header .mobile-menu-icon {
    background: none;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    height: 34px;
    width: 34px;
    /* z-index: 12; */
    /* display: none; */
    visibility: hidden;
    /* visibility: hidden;
    opacity: 0; */
    /* z-index: 2; */
    background-image: url("SVG/Mobile Menu.svg");
    background-repeat: no-repeat;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    padding: 10px; */

    /* background-size: contain; */
}

/* .main-header .mobile-menu-icon.active {
    background-image: url("SVG/Close.svg");
    background-repeat: no-repeat;
} */

.mobile-menu-header {
    height: 100%;
    width: 100%;
    background-color: var(--white-1);
    transform: translateX(-100%);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s ease;
}

.mobile-menu-header .logo {
    text-align: center;
    margin-top: 15px;
}

.mobile-menu-header .logo .logo-content {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}

.mobile-menu-header .logo .logo-content,
.mobile-menu-header .logo .logo-content-sub {
    color: var(--blue-1);
}

.mobile-menu-header .logo .logo-content-sub {
    margin-top: 5px;
    font-size: 22px;
}

.mobile-menu-header .icon {
    height: 34px;
    width: 34px;
    background-image: url("../SVG/Close.svg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile-menu-header .mobile-menu-header-items {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mobile-menu-header .mobile-menu-item {
    padding: 12px;
    list-style: none;
    background-color: var(--black-1);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--white-1);
    cursor: pointer;
    transition: 0.3s ease;
}

.mobile-menu-header .mobile-menu-item:hover {
    background-color: var(--blue-1);
}

.mobile-menu-header .mobile-menu-item:last-child {
    border-bottom: none;
}

.mobile-menu-header .mobile-menu-item .mobile-menu-link {
    text-decoration: none;
    color: var(--white-1);
}

.current-auction {
    
}

.current-auction-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    padding: 20px;
}

.current-auction-wrapper .heading {
    margin-bottom: 25px;
}

.auction-wrap {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 25px;
}

.auction-wrap .col-left {
    width: 40%;
}

.auction-wrap .col-left .table {
}

.auction-wrap .col-left .table .table-key {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid;
    margin-top: 15px;
}

.auction-wrap .col-left .table .table-key .table-value .auction-pdf-file-link {
    color: var(--red-1);
    text-decoration: none;
}

.auction-wrap .col-right {
    width: 60%;
}

.auction-wrap .col-right .photo-container-wrapper {
    
}

.auction-wrap .col-right .photo-container {
    /* max-width: 700px; */
}

.auction-wrap .col-right .photo-container .current-auction-photo {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.auction-wrap .col-right .auction-text-content-description {
    max-width: 800px;
}

.auction-wrap .col-right .auction-text-content-description .text-content-description {
    margin-top: 15px;
}

@media screen and (max-width: 950px) {
    .auction-wrap .col-right .photo-container .current-auction-photo {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .auction-wrap {
        flex-direction: column;
    }

    .auction-wrap .col-left {
        width: 100%;
    }

    .auction-wrap .col-right {
        width: 100%;
    }

    .auction-wrap .col-right .photo-container .current-auction-photo {
        height: 100%;
        width: 100%;
    }
}