.hamburger {
    display: none;
}

.active-tab {
    background: #2563eb;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .navigation-link {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero-actions {
        flex-direction: column;
    }

    .mobile-header .logo {
        font-size: 24px;
    }
}